/* common start*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	font-siez: 16px;
	font-weight: 400;
	color: #626262;
}
/* common end*/
/* header start*/
header{
	/**border: 1px solid green;*/
	padding: 25px 0;
}
.container{
	margin: 0 auto;
	overflow :hidden;
	width: 90%;
	/*border: 1px solid;*/

}
.logo{
	margin-top: 10px;
	width: 10%;
	/*border: 1px solid red;*/
	float: left;
}
.logo a{}
.logo a img{
	width: 100%;
}
.menu{
	width: 70%;
	/*border: 1px solid red;*/
	float: right;
}
.menu ul{
	float: right;
	list-style: none;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	margin: 0 60px;
	display: inline-block;
	font-size: 16px;
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
}
.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li a:hover{
	color: #000000;
}
/* header end */
/*banner start */
.banner{}
.b-content{}
.b-content img{
	width: 100%;
}
/*banner end*/
/*getaway start*/
.getaway{
	padding: 80px 0;
}
.container2{
	margin: 0 auto;
	width: 80%;
	/*border: 1px solid;*/
}
.g-content{}
.c-light{
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color:#b4ad9e ;
    text-transform: uppercase;
}
.c-title{
	margin: 0;
	font-size: 30px;
	font-weight: 400;
}
.m_t_b{
    margin-top:20px ;
    margin-bottom:30px ;
}
.c-text{
	margin: 0;
	font-size: 16px;
	line-height: 25px;
}
.m_b{
	margin-bottom: 45px;
}
/*getaway end*/
/* blog start */
.blog{
	padding: 80px 0;
	/*border: 1px solid green;*/
}
.blog_content{
	overflow: hidden;
}
.b_single{
	margin-bottom: 65px;
	width: 47%;
	/*border: 1px solid red;*/
	float: left;
}
.b_single:nth-child(even){
	margin-left: 6%;
}
.b_img{
	margin-bottom: 30px;
}
.b_img img{
	width: 100%;
}
.mtb{
	margin-top: 25px;
	margin-bottom: 35px;
}

/*blog end */
/* news start */
.news{
	padding: 70px 0;
	background-color: #f0f0f0;
}
.signup{
	text-align: center;
}
.s_h1{
	color: #333333;
	margin-top: 0;
	margin-bottom: 70px;
}
.s_form{
	position: relative;
	width: 400px;
	/*border: 1px solid red;*/
	margin: 0 auto;
}
.s_form input{
	font-family: 'Playfair Display', serif;
	font-siez: 16px;
	color: #626262;
	width: 390px;
	height: 45px;
	border: none;
	border-bottom:1px solid #000000;
	background-color: transparent;
	padding-left:5px ;
	padding-right: 45px;
}
.s_form input:focus{
	outline: 0;
}
.s_form button{
	position: absolute;
	background-color: transparent;
	border: none;
	cursor: pointer;
	top: 15px;
	right: 0;
}
.s_form button: focus{
	outline: 0;
}
.s_form button img{}

/* news end */
/* blog2 start */
.load{
	margin: 150px 0;
	text-align: center;
}
.load button{
	width: 160px;
	height: 60px;
	background-color: transparent;
	border: 1px solid #626262;
	font-family: 'Playfair Display', serif;
	font-siez: 20px;
	font-weight: 400;
	color: #626262;
	cursor: pointer;
	transition: .3s;
}
.load button:hover{
	color:white;
	background-color:#626262;
}
/* blog2 end */
/* footer start */
footer{
	/*border: 1px solid green;*/
	padding: 25px 0;
	background-color: #f0f0f0;
}
.terms{
	width: 30%;
	/*border: 1px solid red;*/
	float: left;
}
.terms ul{
	list-style: none;
}
.terms ul li{
	float: left;
}
.terms ul li a{
	margin: 0 15px;
    display: inline-block;
	font-size: 16px;
	color: #000000;
	text-decoration: none;
}
.terms ul li:first-child a{
	margin-left: -40px;
}
.social{
	width: 30%;
	/*border: 1px solid red;*/
	float:right;
}
.social ul{
	float: right;
	list-style: none;
}
.social ul li{
	float: left;
}
.social ul li span{
	font-size: 16px;
	color: #000000;
}
.social ul li a{
	margin: 0 20px;
	display: inline-block;
}
.social ul li a img{
}
.social ul li:last-child a{
	margin-right: 0;
}

/* footer end */